
/* this property is change all page background color */
html{
     background-color:  rgb(138, 121, 203);
 }
 
 .container-fluid{
     background-color:rgb(138, 121, 203);
 }

/* for Transparant input box   */
 input[type='text']{
     background: transparent;
     color: white;
     
}
     
input[type='text']:focus{
    background: transparent;
    color: white;
    font-weight: bold;
}
